<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Scorpion Down</title>
  <meta name="description" content="For nearly 40 years, both the US and Soviet governments have continued to cover up the facts of the sinking of the USS Scorpion. It was no accident but rather reprisal for the sinking of the Soviet missile sub K-129, which had gone down in the Pacific just ten weeks previous. But both sides quickly realized that the sinking-if publicly known-could have turned the Cold War into a very hot war. Scorpion Down is a grippingly told story of war, polit.">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="http://dazzlr.net/resources/skeleton/css/normalize.css">
  <link rel="stylesheet" href="http://dazzlr.net/resources/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="http://dazzlr.net/resources/skeleton/css/custom.css">



  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "46dba9f7-b42d-4f17-bad7-f48c98773b3a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <section class="header">
      <h2 class="title">Scorpion Down</h2>
      <img alt="PHOTO MISSING" src="http://cdn-media.downpour.com/b/5/b5e0/b5e0-square-1536.jpg">
      <br>
      <p>For nearly 40 years, both the US and Soviet governments have continued to cover up the facts of the sinking of the USS Scorpion. It was no accident but rather reprisal for the sinking of the Soviet missile sub K-129, which had gone down in the Pacific just ten weeks previous. But both sides quickly realized that the sinking-if publicly known-could have turned the Cold War into a very hot war. Scorpion Down is a grippingly told story of war, polit.</p>
      <p><a class="button button-primary" href="http://dazzlr.net/bb/products.php?safe=123&dsid=1361&did=212499921&kw=Scorpion Down&mid=1745">Visit Store</a>  <a class="button button-primary" href="http://dazzlr.net/bb/products.php?safe=123&dsid=1361&did=212499921&kw=Scorpion Down&mid=1745">Buy Item</a></p>
      <br>
      <p>
       <span class='st_facebook_large' displayText='Facebook'></span>
       <span class='st_twitter_large' displayText='Tweet'></span>
       <span class='st_linkedin_large' displayText='LinkedIn'></span>
       <span class='st_pinterest_large' displayText='Pinterest'></span>
      </p>
    </section>
  </div>

<br><br><hr>

<center>
  <div typeof="v:Recipe" xmlns:v="http://rdf.data-vocabulary.org/#">
    <span rel="v:photo" >
      <img alt="Scorpion Down Photo" src="http://cdn-media.downpour.com/b/5/b5e0/b5e0-square-1536.jpg" width="70">
    </span>
    <br>
    <span property="v:name">
      Scorpion Down
    </span>
    has been rated
    <span rel="v:Review">
      <span typeof="v:Review-aggregate">
        <span rel="v:rating">
          <span typeof="v:Rating">
            <span property="v:average">
              4.1
            </span>
            stars out of
            <span property="v:count">
              145
            </span>
            customer reviews on this site.
          </span>
        </span>
      </span>
    </span>
</div>
</center>

<br><br>
<center><a href="/sitemap.xml">Sitemap</a></center>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>